.button {
  border-radius: 5px;
  padding: 5px;
  border-color: transparent;
  cursor: pointer;
  background-color: #b01001;
  color: #ffffff;
  font-size: 14pt;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.image {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: fit-content;
  border-radius: 30px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 30pt;
  justify-self: start;
  align-self: start;
}

.text {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: Arial, sans-serif;
  font-size: 16pt;
  justify-self: start;
  align-self: start;
  line-height: 2rem;
}

.payment {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 350px;
  height: fit-content;
  border: 5px solid;
  border-radius: 10px;
  border-color: #b01001;
  background-color: #b01001;
  padding: 20px;
  font-family: Arial, sans-serif;
}


#buy-text {
  font-size: 20pt;
  color: #b01001;
  text-decoration: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#buy-text:hover {
  text-decoration: underline;
}

.info {
  margin-left: 70px;
  font-size: 10pt;
  color: #ffffff;
}

.info-text:hover {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2px;
  border-radius: 5px;
}

.buy-text2 {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 14pt;
  justify-self: center;
}

.buy {
  cursor: pointer;
}

.counter-display {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  margin-right: 300px;
  border-radius: 5px;
}

.order {
  font-size: 20pt;
  font-weight: bold;
}