.london {
  width: 100%;
}

.london-picture {
  position: relative;
  width: 100%;
  height: fit-content;
}

.london-slogan {
  width: fit-content;
  font-size: 55pt;
  font-weight: bold;
  text-align: center;
  color: #b01001;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.london-slogan {
  animation-name: textanimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes textanimation {
  0% {
    color: #b01001;
  }
  50% {
    color: #29296e;
  }
}

@media screen and (max-width: 1100px) {
  .london-slogan {
    font-size: 45pt;
    padding: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .london-slogan {
    font-size: 35pt;
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .london-slogan {
    font-size: 25pt;
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .london-slogan {
    font-size: 20pt;
    padding: 10px;
  }
}

@media screen and (max-width: 650px) {
  .london-slogan {
    font-size: 15pt;
    padding: 10px;
  }
}

.content {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.phonobooth-place {
  grid-column-start: 1;
  grid-column-end: 2;
}

.phonebooth {
  object-fit: contain;
  width: 100%;
  border-radius: 20px;
}

.text1 {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  justify-self: start;
  align-self: start;
  line-height: 2rem;
}

.train-place {
  grid-column-start: 1;
  grid-column-end: 2;
}

.train {
  object-fit: contain;
  width: 100%;
  border-radius: 20px;
}

.text2 {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  justify-self: start;
  align-self: start;
  line-height: 2rem;
}

@media screen and (max-width: 1300px) {
  .text1 {
    font-size: 12pt;
  }
  .text2 {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1100px) {
  .phonobooth-place {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .text1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .train-place {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .text2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 60px;
}

.headline {
  grid-column-start: 1;
  grid-column-end: 5;
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.image-text {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  padding: 10px;
}

.a {
  text-decoration: none;
}

.figure:hover {
  text-decoration: underline;
  border-color: #29296e;
}

.figure1 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 6px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure2 {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure3 {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure4 {
  grid-column-start: 4;
  grid-column-end: 5;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .headline {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .figure1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .figure2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .figure3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .figure4 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.bus {
  height: 20rem;
  width: 20rem;
  margin-bottom: -4rem;
  margin-top: -15rem;
  position: relative;
  animation-name: bus;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bus {
  0% {
      transform:translateX(-100%);
  }
  100% {
      transform:translateX(500%);
  }
}

