html,
body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

header {
  background-color: #b01001;
  padding: 20px;
  height: 80px;
  align-items: center;
}

.logotype {
  width: fit-content;
  height: 45px;
}

.menu-field {
  text-align: right;
}

.menu-alternative {
  margin: 5px;
  color: #ffffff;
}

.menu-alternative:hover {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3px;
}

input {
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  width: 10rem;
}

::placeholder {
  font-size: 12pt;
  color: #b01001;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #b01001;
  padding: 40px;
  height: 170px;
}

.info {
  margin-left: 70px;
  font-size: 10pt;
  color: #ffffff;
}

.info-text:hover {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2px;
}
