.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
  
.headline {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size: 24pt;
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.image-text {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  padding: 10px;
}

.a {
  text-decoration: none;
}

.figure:hover {
  text-decoration: underline;
  border-color: #29296e;
}

.figure1 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 6px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure2 {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure3 {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}

.figure4 {
  grid-column-start: 4;
  grid-column-end: 5;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
}
/* media queries */
@media only screen and (max-width:600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
  }

  .logotype {
    height: 40px;
    width: 200px;
    margin-left: -30px;
    margin-top: -20px;
  }

.menu-field {
  display: inline block;
  margin-top: 15px;
 
}

.menu-alternative {
  font-size: 12px;
  margin-left: -6px;

}

#field-4{
  display: none;
}

  .search-field {
  height: 10px;
  width: 80px;
}

::placeholder {
  font-size: 10pt;
  color: #b01001;
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.image-text {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  padding: 10px;
}

.info-text-1 {

 margin-top: -5px;
 margin-left: -10px;

}

.info-text-2 {

  margin-top: -5px;
  margin-left: 70px;
 
}

.info-text-3 {
  display: none;
  
}

.info-text-4 {
  display: none;
  
}

.headline {
  font-size: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: -100px;
  margin-left: 20px;
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.image-text {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  padding: 10px;
}

.a {
  text-decoration: none;
}

.bottom {
  margin-left: -450px;
  display: grid;
}

.figure:hover {
  text-decoration: underline;
  border-color: #29296e;
}

.figure1 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 6px solid;
  border-radius: 15px;
  border-color: #b01001;
  width: 400px;
}

.figure2 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
  width: 400px;
}

.figure3 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
  width: 400px;
}

.figure4 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 5px solid;
  border-radius: 15px;
  border-color: #b01001;
  width: 400px;
}

}